<style>
    body {
        font-family: 'Inter', sans-serif;
    }
</style>
<div class="flex">
    <!-- Sidebar -->
    <%-include('../../partials/admin/side bar')%>
        <!-- Main Content -->
        <div class="flex-1 p-6">
            <%-include('../../partials/admin/header') %>
                <div class="flex w-full">
                    <div class="flex-1 flex-row w-full">
                        <div class="p-6 flex-1">
                            <div class="flex justify-between items-center">
                                <h2 class="text-2xl font-semibold text-gray-700">Product Details</h2>
                                <span class="flex justify-end mt-6">
                                    <a href="/admin/editProduct/?id=<%= productDetails._id %>"
                                        class="ml-2 px-6 py-2 bg-purple-500 text-white rounded-md">Edit ?</a>
                                </span>
                            </div>
                            <div class="mt-4 text-sm text-gray-500">
                                <a href="/admin/home" class="text-blue-500">Dashboard</a>
                                &gt;
                                <a href="/admin/products" class="text-blue-500">Product List</a>
                                &gt;
                                <span>Product Details</span>
                            </div>
                            <% if (successMessage) { %>
                                <div id="success_div"
                                    class="bg-green-500 text-white p-2 mb-5 text-center rounded transition-opacity duration-500 ease-in-out">
                                    <p id="success_message">
                                        <%= successMessage %>
                                    </p>
                                </div>
                            <% } %>

                            <% if (errorMessage) { %>
                                <div id="error_div"
                                    class="bg-red-600 text-white p-2 mb-5 text-center rounded transition-opacity duration-500 ease-in-out">
                                    <p id="error_message">
                                        <%= errorMessage %>
                                    </p>
                                </div>
                            <% } %>
                            <div class="mt-6 bg-white p-6 rounded-lg shadow-md">
                                <h3 class="text-lg font-semibold text-gray-700">General Information</h3>
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Product Name</h4></b>
                                    <p class="text-gray-800 mt-2"><%= productDetails.name %></p>
                                </div>
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Description</h4></b>
                                    <p class="text-gray-800 mt-2"><%= productDetails.description %></p>
                                </div>
                            </div>
                            <div class="mt-6 bg-white p-6 rounded-lg shadow-md">
                                <h3 class="text-lg font-semibold text-gray-700">Media</h3>
                                <b><h4 class="text-gray-800 mt-2">Image Preview:</h4></b>
                                <div class="flex">
                                    <% productDetails.image.forEach((image,index)=>{ %>
                                        <img src="uploads/product-images/<%= image %>" alt="Product Image" class="mx-4 mt-2 w-40 h-40 rounded-md shadow-xl">
                                    <% }) %>
                                    <% if(!productDetails.image.length) { %>
                                        <img src="images/no_productImage.png" alt="default Image" class="mt-4 w-36 h-36 rounded-md">
                                    <% } %>
                                </div>
                            </div>
                            <div class="mt-6 bg-white p-6 rounded-lg shadow-md">
                                <h3 class="text-lg font-semibold text-gray-700">Pricing</h3>
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Base Price</h4></b>
                                    <p class="text-gray-800 mt-2">₹<%= productDetails.sellingPrice %></p>
                                </div>
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Maximum Retail Price</h4></b>
                                    <p class="text-gray-800 mt-2">₹<%= productDetails.mrp %></p>
                                </div>
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Discount Type</h4></b>
                                    <p class="text-gray-800 mt-2"><%= productDetails.offerType %></p>
                                </div>
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Discount Percentage</h4></b>
                                    <p class="text-gray-800 mt-2"><%= productDetails.offer %>%</p>
                                </div>
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Maximum Discount Amount</h4></b>
                                    <p class="text-gray-800 mt-2">$<%= productDetails.maxDiscount %></p>
                                </div>
                            </div>
                            <div class="mt-6 bg-white p-6 rounded-lg shadow-md">
                                <b><h4 class="block text-gray-600">Inventory</h4></b>
                                <p class="text-gray-800 mt-2"><%= productDetails.inventory %></p>
                            </div>
                        </div>
                        <!-- Right Sidebar -->
                        <div class="flex flex-col w-70 p-6">
                            <div class="mt-6 bg-white p-6 rounded-lg shadow-md">
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Product Category</h4></b>
                                    <p class="text-gray-800 mt-2"><%= productDetails.category.name %></p>
                                </div>
                                <div class="mt-4">
                                    <b><h4 class="block text-gray-600">Product Tags</h4></b>
                                    <p class="text-gray-800 mt-2"><%= productDetails.tags.join(', ') %></p>
                                </div>
                            </div>
                            <div class="mt-6 bg-white p-6 rounded-lg shadow-md">
                                <b><h4 class="block text-gray-600">Product Status</h4></b>
                                <% if(productDetails.isAvailable==="Available"){ %>
                                    <span class="bg-green-100 text-green-600 px-2 py-1 mt-4 rounded-md">
                                        <%= productDetails.isAvailable %>
                                    </span>
                                <% } else if(productDetails.isAvailable==="Out of Stock"){ %>
                                        <span class="bg-red-100 text-red-600 px-2 py-1 mt-4 rounded-md">
                                            <%= productDetails.isAvailable %>
                                        </span>
                                <% } else { %>
                                        <span class="bg-yellow-100 text-yellow-600 px-2 py-1 mt-4 rounded-md">
                                            Only <%= productDetails.inventory %> Left
                                        </span>
                                <% } %>
                            </div>
                            <div class="mt-6 bg-white p-6 rounded-lg shadow-md">
                                <b><h4 class="block text-gray-600">Is Listed</h4></b>
                                <p class="text-gray-800 mt-2"><%= productDetails.isListed ? 'Yes' : 'No' %></p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
</div>
<script src="JS/admin/product.js"></script>
